.page2 {
    width: 60%;
    height: 190px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 1px 6px 83px 3px rgba(0, 0, 0, 0.75);
  }
  .page2_item {
    width: 50%;
    height: 50px;
    padding: 30px 0;
    margin: auto;
    cursor: pointer;
    letter-spacing: 5px;
    text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.76);
  }
  .page2_item_border {
    box-shadow: 5px 12px 83px 3px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background: rgb(63, 94, 251);
    background: radial-gradient(
      circle,
      rgb(174, 193, 248) 0%,
      rgb(224, 221, 223) 100%
    );
  }
  .page2_item_border {
    box-shadow: 1px 6px 83px 3px rgba(230, 227, 227, 0.75);
    border-radius: 10px;
    background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(237, 232, 235) 100%);
}
  